# =================================
# Archivos compilados y binarios
# =================================
*.exe
*.o
*.dll
build/



# =================================
# Configuración local del editor
# =================================
# Ignora archivos de configuración local de VSCode
# PERO permite settings.json si quieres compartirlo
.vscode/launch.json
.vscode/tasks.json